<% include ../partials/header %>
  <div class="container">
    <div class="row">
      <div class="title">
        <h1>List of the Associations</h1>
      </div>
      <br>
      <table class="table table-bordered">
        <thead style="background-color: rgba(255, 230, 128, 0.8);">
          <th>Id</th>
          <th>Username</th>
          <th>Skills</th>
          <th>Score</th>
        </thead>
        <tbody>
          <tr>
            <td><%= users.id %></td>
            <td><%= users.name %></td>
            <td>
            <% for(let j = 0; j < skills.length; j++){ %>
              <p><%= skills[j].name %></p>
            <% } %>
            </td>
            <td>
            <% for(let j = 0; j < user_skills.length; j++){ %>
              <p><%= user_skills[j].score %></p>
            <% } %>
            </td>
          </tr>
        </tbody>
      </table>
      <label>User List</label>
      <br/>
      <a href="/user" class="btn btn-primary">User</a>
      <br/>
      <hr>
      <label>Skill List</label>
      <br/>
      <a href="/skill" class="btn btn-success">Skill</a>
      <hr>
    </div>
  </div>
<% include ../partials/footer %>
